<!DOCTYPE HTML>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<style>
</style>
<head>
    <title>App-B</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">

        <h1>App-B - Received Messages:</h1>
        <div style="margin-top: 10px">
            <h3>Received Messages</h3>
            <table>
                <tr>
                    <th>id</th>
                    <th>content</th>
                </tr>
                <tr ng-repeat="message in messages">
                    <td>{{ message.id }}</td>
                    <td>{{ message.content }}</td>
                </tr>
            </table>
        </div>

        <h1>Send Message to App-A</h1>
        <input type="text" ng-model="messageText" /><br />
        <button ng-click="sendMessage()">
            Send Message
        </button>
    </div>

    <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope, $http) {

                $scope.listMessages = function() {
                    $http.get("/received")
                    .then(function(response) {
                        console.log("Got to received method. Response:")
                        console.log(response)
                        $scope.messages = response.data;
                    });
                };

                $scope.sendMessage = function() {
                    $http.post('/send', $scope.messageText).then(
                        function(response) {

                        },
                        function(response) {

                        }
                    );
                }

                $scope.messageText = "Message to send"

                setInterval(function() { $scope.listMessages() }, 3000);
            });
        </script>
</body>
</html>
